@charset "utf-8";
*{border: transparent;outline: none;padding: 0;margin: 0;font-size: 14px;color: #333333}
html,body{min-width: 1000px;width: 100%;background-color: #fff;}
.modify-ct{width: 1000px;margin: 0 auto;}
.modify-ct .head{background-color: #e4e4e4;height: 45px;}
.modify-ct .head h1{margin-left: 10px;height: 45px;line-height: 45px;font-weight: normal;font-size: 18px;color: #333;}
.modify-ct form{border-left: 4px solid #e4e4e4;border-right: 4px solid #e4e4e4;border-bottom: 20px solid #e4e4e4;padding: 30px 0 0 10px;}
.modify-ct .required{color: #ff0000;font-style: normal;margin-right: 2px;vertical-align: middle;}
.modify-ct .label-title{display: inline-block;width: 120px;text-align: right;}
.modify-ct form > div{margin-bottom: 25px;}
.modify-ct input[type="password"],.modify-ct input[type="text"]{width: 250px;height: 28px;border: 1px solid #a9a9a9;padding-left: 6px;}
.modify-ct input[type="button"], .modify-ct input[type="submit"]{width: 100px;height: 28px;border-radius: 28px;cursor: pointer;}
.modify-ct .submit{background-color: #ffd23d;color: #fff;margin-left: 125px;border: 1px solid #ffd23d;}
.modify-ct .back-btn{background-color: #ffffff;color: #333;margin-left: 23px;border: 1px solid #d7d7d7;}
.modify-ct label.error{color: #ff0000;margin-left: 6px;display: none;}

.focus-tip-ct{padding: 12px 12px 12px 12px;border: 1px solid #bbb;display: inline-block;line-height: 1.5;position: absolute;background-color: #fff;}
.focus-tip-ct h1{font-size: 14px;font-weight: bold;color: #333;margin-left: 15px;}
.focus-tip-ct .trange-ct{position: absolute;border-right: 8px solid #bbb;border-top: 8px solid transparent;border-bottom: 8px solid transparent;width: 0;height: 0;left: -8px;top:calc(50% - 8px)}
.focus-tip-ct .mask{display: inline-block;border-right: 8px solid #fff;border-top: 8px solid transparent;border-bottom: 8px solid transparent;width: 0;height: 0;position: relative;left: 1px;top:-8px;}
.focus-tip-ct p:before{content:'';display: inline-block;width: 15px;height: 15px;background: url("../img/error.png") left top no-repeat;position: relative;vertical-align: middle;
}