<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>Test1</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<!--
  语义：
  1，.sr-only 易于辅助设备抓取字面意义

  .nav类族中注意样式：
    .navbar-fixed-top（字面意义理解样式）
    .navbar-toggle（768尺寸时toggle）
      右浮动；
    .navbar-collapse
    .navbar-nav： .navbar-nav>li 右浮动


  框架中的ui一般包含于 .container 中，珊楠格包含于 .row中， 不同的配以col-sm-8, col-lg-4[col-type-size](此外还有col-type-offset-size等)等
  一个.row内， col中size相加最多为12
  bts3中，一般以768作为手机与平板之间的尺寸分割, 以992作为平板与桌面尺寸分割线， 1200以上为超大屏幕

  bts3中，col-xs-size作用于所有尺寸中（可与col-md-size混搭使用作用于不同尺寸）, width: 100%/12*size
  bts3中，col-sm-size作用于屏幕 min-width:768尺寸中, width: 100%/12*size
  bts3中，col-md-size作用于屏幕 min-width:992尺寸中，width: 100%/12*size
  bts3中，col-lg-size作用于屏幕 min-width:1200尺寸中，width: 100%/12*size
  bts3中，珊楠格中间加上 class="clearfix visible-xs" 调整  visible-xs-block
  bts3中，通过使用 .col-md-push-* 和 .col-md-pull-* 类就可以很容易的改变列（column）的顺序（push-往右， pull-往左）

  form表单 .form-inline
           .form-horizontal 类，并联合使用 Bootstrap 预置的栅格类
           .checkbox  .checkbox-inline; radio radio-inline
           form表单 p 中 添加 .form-control-static

 table-responsive 在少于768px 出现水平滚动
  ** v3.1.0 版本开始，下拉菜单右对齐不建议使用 .pull-right 类，而使用 .dropdown-menu-right 类

  v3.1.0中 nav>li{float:none} .navbar-nav>li{float:left}
  Boothstrap.css:(devious)
    thumbnails.less
    jumbotron.less
    type.less      .page-header
    nav.less       .nav-tabs/.nav-pills
    gradients.less


-->
<div id="test">
    <input type="text" id="testinput">
</div>
<div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default">1</button>
    <button type="button" class="btn btn-default">2</button>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Dropdown link</a></li>
            <li><a href="#">Dropdown link</a></li>
        </ul>
    </div>
</div>

<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    Enter a valid email address
</div>

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Dropdown
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
    </ul>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-9 col-md-push-3" style="background-color: #f00">.col-md-9 .col-md-push-3</div>
        <div class="col-xs-3 col-md-pull-9" style="background-color: #0f0">.col-md-3 .col-md-pull-9</div>
    </div>
</div>
<div class="container">
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> Remember me
                    </label>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Sign in</button>
            </div>
        </div>
    </form>
    <select multiple class="form-control">
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
    </select>
    <form class="form-horizontal">
        <div class="form-group">
            <label class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <p class="form-control-static">email@example.com</p>
            </div>
        </div>
        <div class="form-group">
            <label for="inputPassword" class="col-sm-2 control-label">Password</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password">
            </div>
        </div>
    </form>
</div>
<a id="testbtn" class="btn btn-primary">click</a>
<div class="page">
    <input type="text" id='datetime-picker'/>
    <input type="text" id='datetime-picker2'/>
</div>

<script>

</script>

<script src="//g.alicdn.com/sj/lib/zepto/zepto.min.js"></script>
<!--<script>window.jQuery || document.write('<script src="jquery-1.8.1.min.js"><\/script>')</script>-->
<!--<script src="dist/js/bootstrap.min.js"></script>-->
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.5.7/js/sm-extend.min.js' charset='utf-8'></script>
<script type='text/javascript' src='../../views/testFiles/sm.js' charset='utf-8'></script>
<script>
    console.log( Object.prototype.toString.call( [] ) == '[object Array]'  ,Object.prototype.toString.call( 'ab'))
    console.log(/*document.defaultView.getComputedStyle( $('.form-control').get(0) ),*/ document.links)

    var s = new XMLSerializer();
    var d = document;
    var str = s.serializeToString(d);
//    console.log(str)

    var testbtn = document.querySelector('#testbtn');
    testbtn.addEventListener('click', function(e){ /* stopImmediatePropagation 阻止当前节点事件流， 同级别事件监听器（比如两个click）还与注册顺序有关 */
//        e.stopImmediatePropagation();
        e.stopPropagation();

        console.log(' click time two')
    })
    testbtn.addEventListener('click', function(e){
        console.log(' click time one')
    });
function aa(type){
    switch (type){
        case type:
            break;
    }
}
    $("#datetime-picker").datetimePicker({
        value: ['1985', '12', '04', '9', '34']
    });
    $("#datetime-picker2").datetimePicker({
        value: ['1985', '12', '04', '9', '34']
    });
</script>
</body>
</html>
