<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <!--<link rel="icon" href="../../favicon.ico">-->

    <title>Test1</title>

    <!-- Bootstrap core CSS -->
    <link href="dist/css/bootstrap.css" rel="stylesheet">
</head>
<body>
<!--
  语义：
  1，.sr-only 易于辅助设备抓取字面意义

  .nav类族中注意样式：
    .navbar-fixed-top（字面意义理解样式）
    .navbar-toggle（768尺寸时toggle）
      右浮动；
    .navbar-collapse
    .navbar-nav： .navbar-nav>li 右浮动


  框架中的ui一般包含于 .container 中，珊楠格包含于 .row中， 不同的配以col-sm-8, col-lg-4[col-type-size](此外还有col-type-offset-size等)等
  一个.row内， col中size相加最多为12
  bts3中，一般以768作为手机与平板之间的尺寸分割, 以992作为平板与桌面尺寸分割线， 1200以上为超大屏幕

  bts3中，col-xs-size作用于所有尺寸中（可与col-md-size混搭使用作用于不同尺寸）, width: 100%/12*size
  bts3中，col-sm-size作用于屏幕 min-width:768尺寸中, width: 100%/12*size
  bts3中，col-md-size作用于屏幕 min-width:992尺寸中，width: 100%/12*size
  bts3中，col-lg-size作用于屏幕 min-width:1200尺寸中，width: 100%/12*size
  bts3中，珊楠格中间加上 class="clearfix visible-xs" 调整

  ** v3.1.0 版本开始，下拉菜单右对齐不建议使用 .pull-right 类，而使用 .dropdown-menu-right 类

  v3.1.0中 nav>li{float:none} .navbar-nav>li{float:left}
  Boothstrap.css:(devious)
    thumbnails.less
    jumbotron.less
    type.less      .page-header
    nav.less       .nav-tabs/.nav-pills
    gradients.less


-->
<div class="btn-group" role="group" aria-label="...">
    <button type="button" class="btn btn-default">1</button>
    <button type="button" class="btn btn-default">2</button>

    <div class="btn-group" role="group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
            <li><a href="#">Dropdown link</a></li>
            <li><a href="#">Dropdown link</a></li>
        </ul>
    </div>
</div>

<div class="alert alert-danger" role="alert">
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">Error:</span>
    Enter a valid email address
</div>

<div class="dropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Dropdown
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li class="divider"></li>
        <li><a href="#">Separated link</a></li>
    </ul>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="jquery-1.8.1.min.js"><\/script>')</script>
<script src="dist/js/bootstrap.min.js"></script>
<script>
    console.log( Object.prototype.toString.call( [] ) == '[object Array]'  ,Object.prototype.toString.call( 'ab'))
</script>
</body>
</html>
