<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>suiTest1</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.5.7/css/sm-extend.min.css">
    <link rel="stylesheet" href="//g.alicdn.com/msui/sm/0.5.3/css/sm.min.css">
</head>
<body>
<div class="page" type="aaaa">
    <input id="text1" type="text" readonly style="border: 1px solid #666;">
    <button id="btn">change</button><br>
    <input id="text2" type="text" readonly style="border: 1px solid #666;"><br>
    <input id="text3" type="text" readonly style="border: 1px solid #666;"><br>

    <header class="bar bar-nav">
        <h1 class="title">图片浏览器</h1>
    </header>
    <div class="content">
        <div class="content-block row">
            <div class="col-50"><a href="#" class="button pb-standalone">Standalone</a></div>
            <div class="col-50"><a href="#" class="button pb-popup">Popup</a></div>
        </div>
        <div class="content-block"><a href="#" class="button pb-standalone-captions">With Captions</a></div>
        <div class="content-block"><a href="#" class="button pb-standalone-video">With Video</a></div>
    </div>
    <table>
        <tr><th width="80">系统要求</th><td>ios6+(ios10需要https)，android 2.3+</td></tr>
        <tr><th>原理</th><td>geolocation的位置信息来源包括GPS、IP地址、RFID、WIFI和蓝牙的MAC地址、以及GSM/CDMS的ID等等。规范中没有规定使用这些设备的先后顺序。</td></tr>
        <tr><th>待继续测试</th><td>初测3g环境下比wifi环境理定位更准确</td></tr>
        <tr><th>待继续测试</th><td>测试三星 GT-S6358(android2.3) geolocation存在，但POSITION_UNAVAILABLE</td></tr>
    </table>
    <input type="button" id="testBtn" value="test">

</div>



<script src="//g.alicdn.com/sj/lib/zepto/zepto.min.js"></script>
<script type='text/javascript' src='//g.alicdn.com/msui/sm/0.5.7/js/sm-extend.min.js' charset='utf-8'></script>
<script src="sm.js"></script>
<script>
    var dom = document.querySelector('#text'),
            values = ['a0', 'a', 'b', 'c'];

    $(dom).picker({
        toolbarTemplate: '<header class="bar bar-nav">\
                          <button class="button button-link pull-left"></button>\
                          <button class="button button-link pull-right close-picker">确定</button>\
                          <h1 class="title">'+'test1'+'</h1>\
                          </header>',
        cols: [
            {
                textAlign: 'center',
                values: values
            }
        ]
    });

    var input1 = document.querySelector('#text1'), input2 = document.querySelector('#text2'),
            input3 = document.querySelector('#text3');
    var num = 0;
    document.querySelector('#btn').addEventListener('click', function(){
        num++;
        values.length = 0;
        values.push('a'+num, 'b'+num, 'c'+num)
        /*values = ['a1', 'b1', 'c1']*//* sui pick函数不能改变value的指针 */
    })

    var bigTypes =values, middleTypes =[], smallTypes = [];
    input1.addEventListener('change', function(e){
        middleTypes.length = 0;
        smallTypes.length = 0;
        switch(this.value){
            case 'a':
                middleTypes.push('aa2', 'aa3', 'aa4')
                break;
            case 'b':
                middleTypes.push('bb2', 'bb3', 'bb4')
                break;
            case 'c':
                middleTypes.push('cc2', 'cc3', 'cc4')
                break;
        }
    });
    input2.addEventListener('change', function(e){
        smallTypes.length = 0;
        switch(this.value){
            case 'aa2':
                smallTypes.push('abc2', 'abc2.1', 'abc2.2')
                break;
            case 'aa3':
                smallTypes.push('abc3', 'abc3.1', 'abc3.2')
                break;
            case 'aa4':
                smallTypes.push('abc4', 'abc4.1', 'abc4.2')
                break;
            case 'bb2':
                smallTypes.push('bac2', 'bac2.1', 'bac2.2')
                break;
            case 'bb3':
                smallTypes.push('bac3', 'bac3.1', 'bac3.2')
                break;
            case 'bb4':
                smallTypes.push('bac4', 'bac4.1', 'bac4.2')
                break;
            case 'cc2':
                smallTypes.push('cab2', 'cab2.1', 'cab2.2')
                break;
            case 'cc3':
                smallTypes.push('cab3', 'cab3.1', 'cab3.2')
                break;
            case 'cc4':
                smallTypes.push('cab4', 'cab4.1', 'cab4.2')
                break;
        }
    });

    $(input1).picker({
        toolbarTemplate: '<header class="bar bar-nav">\
                          <button class="button button-link pull-left"></button>\
                          <button class="button button-link pull-right close-picker">确定</button>\
                          <h1 class="title">'+'test1'+'</h1>\
                          </header>',
        cols: [
            {
                textAlign: 'center',
                values: bigTypes
            }
        ]
    });
    $(input2).picker({
        toolbarTemplate: '<header class="bar bar-nav">\
                          <button class="button button-link pull-left"></button>\
                          <button class="button button-link pull-right close-picker">确定</button>\
                          <h1 class="title">'+'test1'+'</h1>\
                          </header>',
        cols: [
            {
                textAlign: 'center',
                values: middleTypes
            }
        ]
    });
    $(input3).picker({
        toolbarTemplate: '<header class="bar bar-nav">\
                          <button class="button button-link pull-left"></button>\
                          <button class="button button-link pull-right close-picker">确定</button>\
                          <h1 class="title">'+'test1'+'</h1>\
                          </header>',
        cols: [
            {
                textAlign: 'center',
                values: smallTypes
            }
        ]
    });

    var aa = [], bb = [1, 2, 3, 4];
    aa.push( ...bb )
    console.log( aa )

    $('.page').clone().appendTo('body')

    console.log( $('#text3').parent('[type="aaaa"]') );
    console.log('date valid', new Date(null).toDateString(), "|", new Date('aa').toDateString(), "|",  new Date('4567').toDateString(), "|")
</script>
<script>
    $(function(){
        /*=== 默认为 standalone ===*/
        var myPhotoBrowserStandalone = $.photoBrowser({
            photos : [
                '//img.alicdn.com/tps/i3/TB1kt4wHVXXXXb_XVXX0HY8HXXX-1024-1024.jpeg',
                '//img.alicdn.com/tps/i1/TB1SKhUHVXXXXb7XXXX0HY8HXXX-1024-1024.jpeg',
                '//img.alicdn.com/tps/i4/TB1AdxNHVXXXXasXpXX0HY8HXXX-1024-1024.jpeg',
            ]
        });
        //点击时打开图片浏览器
        $(document).on('click','.pb-standalone',function () {
            myPhotoBrowserStandalone.open();
        });

        /*=== Popup ===*/
        var myPhotoBrowserPopup = $.photoBrowser({
            photos : [
                '//img.alicdn.com/tps/i3/TB1kt4wHVXXXXb_XVXX0HY8HXXX-1024-1024.jpeg',
                '//img.alicdn.com/tps/i1/TB1SKhUHVXXXXb7XXXX0HY8HXXX-1024-1024.jpeg',
                '//img.alicdn.com/tps/i4/TB1AdxNHVXXXXasXpXX0HY8HXXX-1024-1024.jpeg',
            ],
            type: 'popup'
        });
        $(document).on('click','.pb-popup',function () {
            myPhotoBrowserPopup.open();
        });

        /*=== 有标题 ===*/
        var myPhotoBrowserCaptions = $.photoBrowser({
            photos : [
                {
                    url: '//img.alicdn.com/tps/i3/TB1kt4wHVXXXXb_XVXX0HY8HXXX-1024-1024.jpeg',
                    caption: 'Caption 1 Text'
                },
                {
                    url: '//img.alicdn.com/tps/i1/TB1SKhUHVXXXXb7XXXX0HY8HXXX-1024-1024.jpeg',
                    caption: 'Second Caption Text'
                },
                // 这个没有标题
                {
                    url: '//img.alicdn.com/tps/i4/TB1AdxNHVXXXXasXpXX0HY8HXXX-1024-1024.jpeg',
                },
            ],
            theme: 'dark',
            type: 'standalone'
        });
        $(document).on('click','.pb-standalone-captions',function () {
            myPhotoBrowserCaptions.open();
        });

        /*=== 有视频 ===*/
        var myPhotoBrowserVideo = $.photoBrowser({
            photos : [
                {
                    html: '<iframe src="//www.youtube.com/embed/lmc21V-zBq0?list=PLpj0FBQgLGEr3mtZ5BTwtmSwF1dkPrPRM" frameborder="0" allowfullscreen></iframe>',
                    caption: 'Woodkid - Run Boy Run (Official HD Video)'
                },
                {
                    url: 'http://lorempixel.com/1024/1024/sports/2/',
                    caption: 'Second Caption Text'
                },
                {
                    url: 'http://lorempixel.com/1024/1024/sports/3/',
                },
            ],
            theme: 'dark',
            type: 'standalone'
        });
        $(document).on('click','.pb-standalone-video',function () {
            myPhotoBrowserVideo.open();
        });
    });

    setTimeout(function(){
        console.log(
                $(window).height(),
                $('.page').get(0).scrollHeight,
                $('.page').height(),
                $('.page').get(0).offsetHeight ,
                document.body.scrollHeight,
                document.documentElement.scrollHeight
        )}, 4420);
    console.log( 'math.pow', Math.pow(1.1, 19)*20);


    var total = 0;
    var testFn1 = function(n){
        if(n == 1) total = 1;
        else total += testFn1(n-1)*2 + (n%2==0?2:-2);
        return total;
    }
    console.log( 'testFn1', testFn1(5) );

    var testFn1 = function(n){
        var total;
        if(n == 1) total =1;
        else{
            total = 1;
            for(var i = 2;i<=n;i++){
                total = total*2 + (i%2==0?2:-2)
            }
        }
        return total;
    }
    console.log( 'testFn1', testFn1(6) );

    var testFn2id;
    var testFn2 = function(){
        var a = function(){
            console.log('a')
        };
        testFn2id = setInterval(a, 3000);

        return testFn2id;
    };
    testFn2();
    document.querySelector("#testBtn").addEventListener('click', function(){
        if(testFn2id){
            clearInterval(testFn2id);
            testFn2id= null;
        }else{
            testFn2();
        }
    });



</script>
</body>
</html>